# Mercado Pago
MP_PUBLIC_KEY=sua_public_key_aqui
MP_ACCESS_TOKEN=seu_access_token_aqui

# Resend (email)
RESEND_API_KEY=sua_chave_resend_aqui
EMAIL_FROM=noreply@wiikfx.com

# Proxmox (quando configurar o servidor)
PROXMOX_HOST=https://ip_do_servidor:8006
PROXMOX_USER=root@pam
PROXMOX_TOKEN_ID=wiikfx
PROXMOX_TOKEN_SECRET=seu_token_secret

# App
NODE_ENV=production
